
body {                                
    background-color: #e0e0e0;    
    justify-content: center;  
    align-items: center;  
    margin: 0;
    
}  


.container {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.card {  
    background-color: #f7f7f7;  
    border-radius: 16px;  
    padding: 20px;  
    width: 300px; 
    max-height: 700px;
    margin: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}  

.card:hover{
    /* transform: scale(1.05); */
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category {  
    font-family: 'NR';
    background-color: white;  
    border-radius: 15px;  
    padding: 8px 15px;  
    font-size: 14px;  
    color: black;  
    width: fit-content;
}  

.title {  
    font-size: 26px;
    font-family: 'NM';  
    margin: 15px 0;  
    color: black;
    line-height: 1.2;
}  

.description {  
    font-family: 'NL';
    font-size: 16px;  
    color: black;  
    margin-bottom: 20px;
    text-align: left; 
    line-height: 1.5;
}  

.image-placeholder {  
    width: 100%;  
    height: 300px;  
    background-color: #e0e0e0;  
    border-radius: 8px;  
    
}
.image-placeholder img {  
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.header_capsule{
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.authors-button{
        text-decoration: none;
        background-color: #f7f7f7; 
        border-radius: 30px;
        color: black;
        display: inline-block;
        font-size: 18px;
        font-family: 'NM';
        height: 48px;
        padding: 16px 30px;
        transition: background 0.3s ease, color 0.3s ease;
        box-sizing: border-box;
        cursor: pointer;
}
.authors-button:hover {
    background: black;
    color: white;
}
.header_title{
    margin-right: 10px;
    font-size: 26px;
    font-family: 'NL';
    letter-spacing: 1.2px;  
    
}
.bold_text{
    font-family: 'NM';
}

    